* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
:root {
    --nav-movil:  #ECF0F1;
    --primary-color:#2C3E50 ;
    --btn-back:  #D0D3D4;
    --border-color: #B3B6B7;
    --hover-color: #2980B9;
}
a {
    color: var(--primary-color);
}
body {
    background: rgb(175,175,175);
    background: linear-gradient(90deg, rgba(175,175,175,1) 0%, rgba(244,244,244,1) 50%, rgba(175,175,175,1) 100%);
    color: var(--primary-color);   
}
img {
    width: 100%;
}
/* ========================== re-class ========================================

*/

.btn-btn {
    padding: 7px;
    border-radius: 5px;
    background-color: var(--hover-color);
    border: 1px solid var(--border-color);
}

.copy {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
}
.text-left {
    text-align: left;
}
.margin-top {
    margin-top: 2rem;
}

.active {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
    font-weight: bold;
}
.hashtag {
    color: var(--hover-color);
    font-weight: bold;
}

/* ========================== portfolio ========================================

*/
.portfolio {
    height: 100vh;
    padding: 10px;
}
@media only screen and (min-width: 768px) {
    .portfolio {
        margin-top: 6%;
        height: 80vh;
    }
}
@media only screen and (min-width: 992px) {
    .portfolio {
        margin-left: 5%;
        margin-top: 4%;
        height: 80vh;
    }
}


/* ========================== navbar desktop ========================================

*/

.navbar {
    -webkit-box-shadow: 0px 0px 27px 8px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 27px 8px rgba(153,153,153,1);
    box-shadow: 0px 0px 27px 8px rgba(153,153,153,1);
    display: none;
    position: relative;
    margin: 10px;
    height: 100vw;
    background-color: #f2f2f2;
}
.navbar-desktop {
    display: none;
    padding: 20px;
}
.navbar-desktop h2 {
    font-size: 2rem;
    width: 120px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--hover-color);
}
.navbar-desktop nav {
    padding-top: 50%;
}
.navbar-desktop nav a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--hover-color);
    font-size: 1.2rem;
}
.navbar-desktop nav a:hover {
    color: var(--hover-color);
    transition: all .25s ease-in;
    padding-left: 10px;
}
.navbar-desktop nav a i {
    margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
    .navbar {
        display: block;
        height: 80vh;
        opacity: 1;
    }
    .navbar-desktop {
        display: block;
        opacity: 1;
    }
}



/* ========================== navbar movil ========================================

*/


.navbar-movil {
    z-index: 2;
    display: block;
    background-color: var(--nav-movil);
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    color: var(--primary-color);
    transition: left .3s ease-in-out;
}
.navbar-movil {
    padding: 20px;
}
.navbar-movil h2 {
    font-size: 2rem;
    width: 120px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--hover-color);
}
.navbar-movil nav {
    padding-top: 5rem;
}
.navbar-movil nav a {
    text-decoration: none;
    display: block;
    cursor: pointer;
    margin-top: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--hover-color);
    font-size: 1.2rem;
}
.navbar-movil nav a:hover {
    color: var(--hover-color);
    transition: all .25s ease-in;
    padding-left: 10px;
}
.navbar-movil nav a i {
    margin-right: 1rem;
}
.navbar-movil .close-menu {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.4rem;
}
.navbar-movil .close-menu i:hover {
    background-color: var(--hover-color);
    color: var(--hover-color);
    transition: all .25s ease-in-out;
}




/* ========================== main ========================================

*/
.main {
    -webkit-box-shadow: 0px 0px 27px 8px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 27px 8px rgba(153,153,153,1);
    box-shadow: 0px 0px 27px 8px rgba(153,153,153,1);
    overflow: auto;
    height: 97vh;
    background-color: #f2f2f2;
    position: relative;
    text-align: center;
}
.main-body > section {
    display: none;
}
.main-body img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.main-body h2 {
    font-size: 2rem;
    margin-top: 2rem;
}
.main-body p {
    font-size: 1.3rem;
    margin-top: 2rem;
}
.main-body .social {
    margin-top: 3rem;

}
.main-body .social i {
    font-size: 2rem;
    cursor: pointer;
    width: 55px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}
.main-body .social i:hover {
    background-color: var(--hover-color);
    color: #fff;
    transition: all .3s ease-in;
}
.main-body span {
    color: var(--hover-color);
}
.main-body .open-menu {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: -1rem;
}
.main-body .open-menu i {
    font-size: 1.4rem;
}
.main-body .open-menu i:hover {
    background-color: var(--hover-color);
    color: #fff;
    transition: all .25s ease-in-out;
}

@media only screen and (min-width: 768px) {
    .main {
        overflow: auto;
        height: 80vh;
        margin: 10px;
        max-height: 100vh;
    }
    .open-menu {
        opacity: 0;
    }
    .main-body img {
        margin-top: 13%;
    }
}


/* ========================== home ========================================

*/

.home {
    display: block;
}


/* ========================== About ========================================

*/
.about {
    display: none;
    position: relative;
    padding: 0px 10px;
    margin-top: -15px;
}

.about h2 {
    text-align: left;
    font-size: 2rem;
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--hover-color);
}
.about .about-title {
    align-items: center;
}
.about .button {
    margin-right: 3rem;
}
.about button {
    color: #f2f2f2;
    font-weight: bold;
    margin-top: .2rem;
}
.about button:hover {
    color: var(--border-color);
    cursor: pointer;
    transition: all .25s var(--border-color)
}
@media only screen and (min-width: 690px) {
    .about .about-title {
        justify-content: space-between;
    }
}
.about p {
    line-height: 1.6rem;
    margin-bottom: 1rem;
}
.about hr {
    border: 1px solid var(--hover-color);
    border-radius: 5px;
}


.html-css {
    position: relative;
    width: 16rem;
    height: 16px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}
.html-css span {
    color: var(--back-color);
}
.html-css-fill {
    width: 80%;
    height: 100%;
    background-color: var(--hover-color);
    border-radius: 5px;
}
.html-css-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.js {
    position: relative;
    width: 16rem;
    height: 16px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}
.js span {
    color: var(--back-color);
}
.js-fill {
    width: 30%;
    height: 100%;
    background-color: var(--hover-color);
    border-radius: 5px;
}
.js-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.react {
    position: relative;
    width: 16rem;
    height: 16px;
    background-color: var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}
.react span {
    color: var(--back-color);
}
.react-fill {
    width: 10%;
    height: 100%;
    background-color: var(--hover-color);
    border-radius: 5px;
}
.react-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.mySkills h2 {
    width: 300px;
    margin: 4rem 0;
}
.skills-cards {
    padding: 20px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.skills-cards i {
    font-size: 2rem;
    color: var(--hover-color);
    margin-right: 1.3rem;
}


/* ========================== portfolio ========================================

*/
.works {
    display: block;
}
.works h2 {
    font-size: 2rem;
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--hover-color);
}
.filter-work ul {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    position: sticky;
    top: 0;
    display: flex;
    border-radius: 5px;
    border-bottom: 1px solid var(--hover-color);
}
.filter-work ul li {
    cursor: pointer;
    padding: 15px 10px;
}
.filter-cards {
    overflow: hidden;
    text-align: center;
}
.filter-cards img {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 20px;
}
.filter-cards p {
    margin-top: 1rem;
    color: var(--hover-color);
}

/* ========================== contact ========================================

*/
.contact {
    display: block;
}
.contact h2 {
    font-size: 2rem;
    width: 200px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--hover-color);
}
.form {
    position: relative;
    padding: 10px 20px;
    text-align: center;
}

.form input {
    padding: 10px;
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.form input:focus {
    outline: none;
    border: 3px solid var(--hover-color) ;
}
.form textarea:focus {
    outline: none;
    border: 3px solid var(--hover-color) ;
}
.form textarea {
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.form .button {
    position: absolute;
    right: 1.4rem;
}
.form button {
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: right;
}
.form button:hover {
    color: var(--border-color);
    cursor: pointer;
    transition: all .25s var(--border-color)
}
@media only screen and (min-width: 1500px) {
    .form .button {
        right: 8rem;
    }
}
